*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Robot', sans-serif; */
    /* font-weight: 500; */
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    /* font-size: 1.4rem; */
}
main{
    display: flex;
    /* border: 2px solid black; */
}
a{
    /* font-family: 'Robot', sans-serif; */
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
    border-left: 2px solid orange;
    padding-left: 10px;
}
i:hover{
    color: orange;
}
input{
    width: 200px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
}
input:hover{
    border: 2px solid orange;
}
.right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile_pic{
    width: 45px;
    border-radius: 100%;
}
.profile_pic:hover{
    outline: 2px solid orange;
    outline-offset: -2px;
}
.dashboard_section{
    margin: 20px;
    flex-grow: 1;
    /* display: none; */
}
.dashboard_section > *{
    margin-bottom: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
}
.side_bar{
    width: 250px;
    height: 100vh;
    border-right: 2px solid black;
    padding: 20px;
}
p{
    margin: 20px 0px;
}
.side_bar_box{
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    padding: 20px;
}
.btn{
    color: orange;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
.btn_primary{
    color: white;
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
.btn_primary:hover{
    color: orange;
    border: 2px solid orange;
}
.home_dashboard_section{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.home_dashboard_section_left{
    width: 55%;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-image: url(../image/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home_dashboard_section_right{
    width: 30%;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-image: url(../image/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.h_d_s_sub{
    display: flex;
}

/* bottom_dashboard_section */
.bottom_dashboard_section{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.bottom_dashboard_section_left{
    width: 50%;
    padding: 20px;
    /* border: 2px solid black; */
}
.bottom_dashboard_section_right{
    width: 30%;
    padding: 20px;
    /* border: 2px solid black; */
}
.card_carosel{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    align-items: center;
    /* border: 2px solid black; */
    /* box-shadow: black; */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.img{
    width: 100px;
    height: auto;
}
.user_activity{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* .text{
    margin: 0;
} */
.user_profile_img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
/* End bottom_dashboard_section */

/* orders */
.element{
    display: none;
}
/* End orders */